<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro"
      rel="stylesheet" type="text/css">
  <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

  <style>
    body, table, td, p, li, a, strong {
      font-family: 'Google Sans', sans-serif;
    }
    h1, h2, h3, h4 {
      font-family: 'Google Sans', sans-serif;
    }
  </style>

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Mateusz Nowak
              </h1>
              <p>
                I am a second-year PhD candidate in the <a href="https://sites.dartmouth.edu/lisplab/mateusz-nowak/">LISP Lab</a> at the <a href="https://engineering.dartmouth.edu/">Thayer School of Engineering</a>, 
                <a href="https://home.dartmouth.edu/">Dartmouth College</a>, where I work on 3D computer vision and multi-modal machine learning. 
                My PhD advisor is <a href="https://sites.dartmouth.edu/lisplab/sang-peter-chin/">Peter Chin</a>. 
              </p>
              <p>
                Most recently, in the summer of 2025, I joined <a href="https://www.autodesk.com/">Autodesk Research UK</a> in London as an AI Research Scientist intern to work on vision-language models and 3D vision. 
                Before that, I worked as a Machine Learning & Computer Vision intern on 3D Gaussian Splatting at <a href="https://research.samsung.com/sruk">Samsung Research UK (SRUK)</a> in Staines, UK, 
                and as an AI Algorithm Development intern at <a href="https://www.huawei.com/en/">Huawei Technologies R&D UK</a> in Cambridge, UK, working on Neural Radiance Fields. 
              </p>
              <p>
                I hold an MSc in Computer Science with a major in Visual and Interactive Computing from <a href="https://inf.ethz.ch/u">ETH Zurich</a>. 
                I completed my master's thesis in collaboration with <a href="https://studios.disneyresearch.com/">Disney Research Zurich</a>, focusing on Neural Architecture Search 
                under <a href="https://studios.disneyresearch.com/people/tunc-aydin/">Tunc Aydin</a> and <a href="https://studios.disneyresearch.com/people/farnood-salehi/">Farnood Salehi</a>. 
                Previously, I earned my BSc in Computer Science (specializing in Artificial Intelligence) from <a href="https://www.kcl.ac.uk/informatics">King's College London</a> and completed a year-long exchange at the <a href="https://www.comp.nus.edu.sg/cs/">National University of Singapore</a>.
              </p>
              <p>
                I have also taught &mdash; as head TA for ENGS106 at Dartmouth in Winter 2025, and as a TA at King's for modules in foundations of computing, elementary logic, and data structures in 2020&ndash;2021.
              </p>
              <p style="text-align:center">
                Email: mateusz.m.nowak.th[at]dartmouth[dot][edu(cation)] <br>
                <a href="https://github.com/Futuramistic"><i class="fab fa-github"></i>&nbsp;GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=Os-TTEkAAAAJ&hl=en"><i class="ai ai-google-scholar"></i>&nbsp;Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/mateusz-n-39730b185/"><i class="fab fa-linkedin"></i>&nbsp;LinkedIn</a> &nbsp;/&nbsp;
                <a href="{{ '/books/' | relative_url }}"><i class="fas fa-book"></i>&nbsp;Reading Log</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/me.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I am interested in neural rendering, computer vision, multi-modal machine learning, optimization and graphics.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% assign sep = "" %}
              {% if post.paper %}
                {{ sep }}<a href="{{post.paper}}"><i class="fas fa-file-pdf"></i>&nbsp;Paper</a>
                {% assign sep = " / " %}
              {% endif %}
              {% if post.arxiv %}
                {{ sep }}<a href="{{post.arxiv}}"><i class="ai ai-arxiv"></i>&nbsp;arXiv</a>
                {% assign sep = " / " %}
              {% endif %}
              {% if post.arxivold %}
                {{ sep }}<a href="{{post.arxivold}}"><i class="ai ai-arxiv"></i>&nbsp;arXiv (old)</a>
                {% assign sep = " / " %}
              {% endif %}
              {% if post.video %}
                {{ sep }}<a href="{{post.video}}"><i class="fas fa-video"></i>&nbsp;Video</a>
                {% assign sep = " / " %}
              {% endif %}
              {% if post.code %}
                {{ sep }}<a href="{{post.code}}"><i class="fab fa-github"></i>&nbsp;GitHub</a>
                {% assign sep = " / " %}
              {% endif %}
              {% if post.poster %}
                {{ sep }}<a href="{{post.poster}}"><i class="fas fa-image"></i>&nbsp;Poster</a>
                {% assign sep = " / " %}
              {% endif %}
              {% if post.slides %}
                {{ sep }}<a href="{{post.slides}}"><i class="fas fa-person-chalkboard"></i>&nbsp;Slides</a>
                {% assign sep = " / " %}
              {% endif %}
              {% if post.website %}
                {{ sep }}<a href="{{post.website}}"><i class="fas fa-project-diagram"></i>&nbsp;Project</a>
                {% assign sep = " / " %}
              {% endif %}
              {% if post.youtube %}
                {{ sep }}<a href="{{post.youtube}}"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                {% assign sep = " / " %}
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include coursework, side projects and unpublished research work. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a>
              {% endif %}
              {% if post.website %}
              / <a href="{{post.website}}">website</a>
              {% endif %}
              {% if post.patent %}
              / <a href="{{post.patent}}">patent</a>
              {% endif %}
              {% if post.video %}
              / <a href="{{post.video}}">video</a>
              {% endif %}
              {% if post.code %}
              / <a href="{{post.code}}">code</a>
              {% endif %}
              {% if post.poster %}
              / <a href="{{post.poster}}">poster</a>
              {% endif %}
              {% if post.slides %}
              / <a href="{{post.slides}}">slides</a>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

